@page "/api/Categorias/crear"
@inject IHttpServicio http
@inject NavigationManager navigationManager

<h3>Nueva Categoria</h3>

<EditForm Model="categoria" OnValidSubmit="Grabar">
      <DataAnnotationsValidator />
      <div class="form-group">
            <label>NombreCategoria</label>
            <div>
                <InputText class="form-control"@bind-Value="@categoria.NombreCategoria"/>
                <ValidationMessage For="@(() => categoria.NombreCategoria)"/>
            </div>
      </div>
      <br/>
      <button class="btn btn-primary" type="submit">Aceptar</button>
      <button class="btn btn-secundary" @onclick="Cancelar">Cancelar</button>

</EditForm>


@code {
    private Categoria categoria = new Categoria();

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Categoria>("api/Categorias", categoria);
        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("/api/Categorias");
    }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/api/Categorias");
    }
}
